# Data Types

## There are eight kinds of types supported by PyTables:

- bool: Boolean (true/false) types. Supported precisions: 8 (default) bits.
- int: Signed integer types. Supported precisions: 8, 16, 32 (default) and 64 bits.
- uint: Unsigned integer types. Supported precisions: 8, 16, 32 (default) and 64 bits.
- float: Floating point types. Supported precisions: 16, 32, 64 (default) bits and extended precision floating point (see note on floating point types).
- complex: Complex number types. Supported precisions: 64 (32+32), 128 (64+64, default) bits and extended precision complex (see note on floating point types).
- string: Raw string types. Supported precisions: 8-bit positive multiples.
- time: Data/time types. Supported precisions: 32 and 64 (default) bits.
- enum: Enumerated types. Precision depends on base type.

### bool -> true, false / 1, 0
### int -> 3,5, -1, 0,-5
### float -> 2.34
### str -> 'rakesh'

In [1]:
## bool, int, float, str ( this is the flow)
a = 3
a

3

In [2]:
type(a)

int

In [3]:
z = True
type(z)

bool

### Auto type casting

In [4]:
3 + 4.5

7.5

### Forced type casting

In [5]:
3 + int(4.5)

7

In [5]:
# bool -> int -> float -> string
bool('a')
 # bool casting true for any non 0

True

In [2]:
bool(0)

False

In [3]:
bool(-1)

True

In [4]:
bool(5)

True

In [7]:
name = 'ashok'
type(name)

str

# Type Casting

In [8]:
3 + 6.5

9.5

In [9]:
# bool -> int -> float -> str
True + 6 + 7.5

14.5

In [10]:
int(7.9) + 3

10

In [11]:
bool(0)

False

In [7]:
4.5 + 5 + 1 + int('6') + 3.5 + True

21.0

In [12]:
#Auto typecasting
True + 3 + int(4.5)

8

In [13]:
# Bool -> int -> float -> str

In [14]:
True + 18

19

In [15]:
str(3) + 'Ashok'

'3Ashok'

In [8]:
'rakesh' + str(5)

'rakesh5'

In [16]:
#Manual / forced type casting
4 + float('9.5')

13.5

In [17]:
4.5 + 10 + bool(-8) + int('6') + 3.5 + True

26.0

In [18]:
float('6.5')

6.5

In [19]:
int('7') + 5

12

In [9]:
int(5.5)

5

In [ ]:
bool(-1)

In [ ]:
a = 3.4
type(a)

In [ ]:
#forced / manual typecasting
int(a)

In [ ]:
#auto type casting
5 + 6.7

In [ ]:
# bool --> int --> float --->str

In [13]:
a = 3
b = 4.5
c = type(a)
print(c)
print(type(b))

<class 'int'>
<class 'float'>

In [14]:
a + int(b)

7

In [15]:
3 + int('4')

7

In [16]:
# True -> 1, False -> 0
False + 4

4

In [17]:
#Anything not zero is taken as booleon True
bool(-18)

True

In [18]:
3 + int('6')

9

In [19]:
3 + int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [20]:
3 + int(4.5)

7

In [21]:
int(float('4.5'))

4

In [22]:
bool(4.5)

True

In [23]:
3.5 + bool(-18) + int('3')

7.5

In [ ]:
name = "ashok"
type(name)

In [ ]:
type(a)

In [ ]:
b = 4.5

In [ ]:
type(b)

In [ ]:
z = True

In [ ]:
type(z)

In [ ]:
a = 3
b = 5.4

In [24]:
c = a+b
c

7.5

In [25]:
type(c)

float

In [ ]:
3.0 + False

In [ ]:
int(3.4)

In [26]:
4 + int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
float(3)

In [ ]:
bool(-18.9)

In [27]:
int(3.4 + bool(-20)+int(8.4))

12

### Slicing

In [29]:
a = "I am a Data Scientist"
a

'I am a Data Scientist'

In [30]:
a[5]

'a'

In [32]:
a[5:11]

'a Data'

In [33]:
a[5:]

'a Data Scientist'

In [35]:
a[-5]

'n'

In [36]:
a[:-5]

'I am a Data Scie'

In [37]:
a[-5:]

'ntist'

In [39]:
a[5:15]

'a Data Sci'

In [40]:
a[5:15:2]

'aDt c'

In [34]:
# slicing operation :
a[7:21:3]

'Dacns'

In [ ]:
a[-7:]

In [41]:
# : -> slicing operator
a[7:]

'Data Scientist'

In [ ]:
a[:7]

In [ ]:
a

In [ ]:
a[7:21:2]
a

In [ ]:
a[-9:]

In [ ]:
#Index starts from ZERO 0
a[7]

In [ ]:
a

In [ ]:
# Slicing Operator :  Gives you Range
a[7:21:1]

In [ ]:
print(a)
a[0:15:2]

In [ ]:
a[-5:]

In [ ]:
# :  is a slicing operator
a[7:11]

In [ ]:
a[7:]

In [ ]:
a[:11]

In [ ]:
print(a)
bool(a)

In [ ]:
d = '32'
print(d)
type(d)

In [ ]:
float(d)

In [ ]:
b = 0
bool(b)

In [ ]:
3 + 2.5

In [42]:
int('3') + 6.7 + bool("Me")

10.7

In [43]:
a = 3
b = 5.9
a+b

8.9

In [44]:
b = 3.9
c = False
b+c

3.9

In [ ]:
d = '3'
d
a= 6
a+int(d)

In [45]:
a=3.5
b=5
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

In [48]:
5*3

15

In [ ]:
int(a) +b

In [46]:
bool(-10) * 3

3

In [47]:
z = False
a*z

0.0

### Sliceing

In [52]:
message = "I am a DataScientist"
print(message)

I am a DataScientist

In [55]:
message[10:3]

''

In [54]:
message[5:10]

'a Dat'

In [ ]:
message[45:34]

In [ ]:
This is to test

In [ ]:
a='I am a Data Scientist'
type(a)

In [ ]:
c = 20/6
c

In [ ]:
d = 'This is interesting'
d
len(d)

In [ ]:
a = 3
b = 5
print(a)
print(b)

In [ ]:
type(3)
type(4.0)

In [57]:
print(type(2))  # returns 'int’ 
print(type(2.0)) # returns 'float’ 
print(type('two')) # returns 'str’ 
print(type(True)) # returns 'bool’ 
print(type(None)) # returns 'NoneType'
print(type('none')) # returns 'NoneType'

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>
<class 'str'>

In [ ]:
a=3.0
print(a)

In [ ]:
type(a)

In [ ]:
print(a)

In [59]:
import datetime as dt

In [60]:
td =dt.date.today()

In [61]:
diwali_day = dt.date(2018,11,7)

In [62]:
print(diwali_day -td)

-17 days, 0:00:00

In [63]:
dt.date.today()

datetime.date(2018, 11, 24)

In [64]:
tday = dt.date.today()
tday

datetime.date(2018, 11, 24)

In [65]:
someday = dt.date(2018,12,20)
someday

datetime.date(2018, 12, 20)

In [66]:
print(someday - tday)

26 days, 0:00:00

In [ ]:
# dt is alias name of datetime
import datetime as dt

In [89]:
td = dt.date.today()

In [90]:
prishasBday = dt.date(2015,12,31)

In [93]:
print(td - prishasBday)

1059 days, 0:00:00

In [68]:
dt.date(2018,9,29)

datetime.date(2018, 9, 29)

In [67]:
tday = dt.date.today()
tday

datetime.date(2018, 11, 24)

In [ ]:
someday = dt.date(2018,12,20)
someday

In [ ]:
someday - tday

In [ ]:
print(dta.date.today())

In [80]:
td = dt.date.today()

In [81]:
type(td)

datetime.date

In [ ]:
print(datetime.date.today())

In [ ]:
tday.day

In [ ]:
datetime.date.today()

NameError: name 'td' is not defined

In [ ]:
tday = dt.date.today()
print(tday)
type(tday)

In [ ]:
type(tday)

In [ ]:
someday = dt.date(2019,10,20)

In [ ]:
print(someday)

In [ ]:
someday.month

In [ ]:
someday - tday

In [70]:
dt.datetime.strptime('03-1905',"%m-%Y")

datetime.datetime(1905, 3, 1, 0, 0)

In [ ]:
print(someday - td)

In [ ]:
datetime.date.today()

In [ ]:
import datetime as dt
dt.date.today()

In [ ]:
from datetime import date

In [ ]:
date.today()

In [ ]:
print(dt.date.today())

In [ ]:
from datetime import date

In [ ]:
a = 3
type(a)

In [ ]:
td = date.today()
print(td)
td.month

In [82]:
td = dt.date.today

In [84]:
type(td)

builtin_function_or_method

In [ ]:
a = '2018-7-20'

In [ ]:
type(a)

In [ ]:
from datetime import date
someday = date(2018,7,20)

In [ ]:
print(someday)

In [ ]:
print(someday - td)

In [71]:
someday = dt.date(2016,5,25)

In [72]:
someday.isoweekday()

3

In [85]:
tday+dt.timedelta(days=350,hours=100)

datetime.date(2019, 11, 13)

In [ ]:
dt.datetime.now()-dt.timedelta(days=-350,hours=95)

In [ ]:
date.today() + dt.timedelta(hours=40)

In [ ]:
today = dt.date.today()
today
startdate = date(2018,1,1)

In [ ]:
tday + dt.timedelta(days=-40,hours=200)

In [ ]:
print(dt.datetime.now())

In [ ]:
print(today-startdate)

In [ ]:
from datetime import date
today = date.today()

In [ ]:
from datetime import date
from datetime import datetime

today = date.today()
print(dt.datetime.now())

In [ ]:
td + dt.timedelta(days=100, hours=48)

In [ ]:
tday

In [ ]:
tday.month

In [ ]:
tday.isoweekday()

In [ ]:
print(tday + datetime.timedelta(days=20, hours=72))

In [ ]:
print(someday)

In [ ]:
someday.isoweekday()

In [ ]:
from datetime import date
day1 = date(2010, 6, 20)

In [ ]:
day100 = today + dt.timedelta(days=100)

In [ ]:
day100.isoweekday()

In [ ]:
import datetime as dt
day1 = date(2010, 6, 20)
print(day1)

newdate = day1 + dt.timedelta(hours=10,minutes=40)

In [ ]:

import datetime

otherday = day1 + datetime.timedelta(days=400)
print(otherday)

my_bday = date(1978, 6, 10)

print(date.today()-my_bday)

In [ ]:
my_birthday = date(today.year, 6, 24)
my_birthday = my_birthday.replace(year=today.year + 1)
print(my_birthday)

time_to_birthday = abs(my_birthday - today)
print(time_to_birthday.days)

In [ ]:
print(date.today())
print(date.weekday(date.today()))
print(date.isoweekday(date.today()))
print(date.today())

date.today()

# Math Operators

In [ ]:
print(10 + 4) # add (returns 14) 
print(10 - 4) # subtract (returns 6) 
print(10 * 4) # multiply (returns 40) 
print(10**4) # exponent (returns 10000) 
print(10 / 4) # divide (returns 2.5) 
print(5 % 4) # modulo (returns 1) - also known as the remainder

# Logical / Comparision Operators

In [ ]:
%pwd

In [ ]:
# comparisons (these return True) 
print(5 > 3 )
print(5 >= 3)
print(5 != 5)
print(5 == 5) # boolean operations (these return True) 

# evaluation order: not, and, or

### Logica Operators

T and T  --> T <br/>
T and F  --> F<br/>
F and T  --> F<br/>
F and F  --> F<br/>
### AND is only True if all are True
T or T  --> T<br/>
T or F  --> T<br/>
F or T  --> T<br/>
F or F  --> F<br/>
### OR is only False if all are False



</br>

In [ ]:
# Logical operators and or
(5>3) or (10>12)

In [ ]:
print(5 > 3 and 6 < 3 )
print(5 > 3 or 5 < 3 )

In [ ]:
True == bool(-18)

In [ ]:
(5 >= 3 or 6 > 100) and (True == bool(23))

In [ ]:
x=5
if (x>0):
    print("X is a positive")
    print("I m if True Block")
else:
    print("X is a Negative")
    print("I m if Else/False Block")
    
print("I am out of IF-ELSE block")

In [ ]:
if 5 < 3:
    print("I am in if block")
    print("So the statement is TRUE")
else:
    print("I am in ELSE block")
    
print("I am anyway printed, out of IF")

In [ ]:
False or -18

In [ ]:
if (5<3) :
    print("True")
    print("another statement")
else :
    print("False")
    print("another else st")
print("This prints anyway")

# Conditional Statements

In [ ]:
x=12
if (x>10) :
    print("This is True or IF block")
    print("I am still in IF")
else :
    print("This is else block")
    
print("\n ---- \n I am out of IF block")

In [ ]:
if (5<3):
    print("This is IF block")
else :
    print("This is Else Block")

In [ ]:

if (5<3) :
    print("True block statement 1")
    print("True block statement 2")
    print("True block statement 3")
else:
    print("False block")

In [ ]:
x = 0
if (x > 0) :
    print("X is Positive")

elif (x<0):
    print("X is Negative")   
else:
    print("X is ZERO")

In [ ]:
x=-100

if ((x>0) or (x==-100)):
    print("X is positive Value or -100")
    print("I am if loop")
elif (x<0):
    print("I am in else if block")
    print("X is negative")
else:
    print("X is Zero")
    
print("I am out of IF looP")

In [ ]:
x = 6

if x%2 == 0 :
    print(x, " is even number")
    print("hello..")
else :
    print(x, " is ODD number")

print("this is out of IF else block")

In [ ]:
x = -20
# if/elif/else statement
if x > 0:
    print('positive') 
    print('hello')
elif x == 0: 
    print('zero') 
else: 
    print('negative') 
print("I am out of IF block")

In [ ]:
# single-line if statement (sometimes discouraged) 
x=5
if x > 0: print('positive')

# Lists
 Python lists are very flexible and can hold completely heterogeneous, arbitrary data, and they can be appended to very efficiently.

In [96]:
a = [3, 4, 5.5, 'rakesh', True]
a

[3, 4, 5.5, 'rakesh', True]

In [97]:
type(a)

list

In [98]:
a[2]

5.5

In [106]:
a = [2, 3, 5.5, 'rakesh', [11,12,13,'chhalotre'], True]
a

[2, 3, 5.5, 'rakesh', [11, 12, 13, 'chhalotre'], True]

In [102]:
a[3]

'rakesh'

In [103]:
a[4]

[11, 12, 13]

In [104]:
a[4][1]

12

In [107]:
a[4][3]

'chhalotre'

In [110]:
a = [2,True,3.4,4,'data science',[50,60]]
a

[2, True, 3.4, 4, 'data science', [50, 60]]

In [ ]:
a[5][1]

In [109]:
type(a[1])

bool

In [ ]:
z = [3,4.0,True]
z

In [ ]:
a = [3,4.0,True,'ashok',[56,78,89]]
a

In [ ]:
a[4][2]

In [126]:
# list

myfamily = ['mom','dad','me']
myfamily

['mom', 'dad', 'me']

In [114]:
myfamily.append('wife')
myfamily

['mom', 'dad', 'me', 'wife']

In [127]:
myfamily.extend(['bro','sis','grandma'])
myfamily

['mom', 'dad', 'me', 'bro', 'sis', 'grandma']

In [117]:
myfamily.remove('bro')
myfamily

['mom', 'dad', 'me', 'wife', 'sis', 'grandma', 'bro', 'sis', 'grandma']

In [118]:
myfamily.pop(5)

'grandma'

In [119]:
myfamily.sort()
myfamily

['bro', 'dad', 'grandma', 'me', 'mom', 'sis', 'sis', 'wife']

In [120]:
myfamily.reverse()
myfamily

['wife', 'sis', 'sis', 'mom', 'me', 'grandma', 'dad', 'bro']

In [128]:
myfamily.insert(0,'Grandfa')
myfamily

['Grandfa', 'mom', 'dad', 'me', 'bro', 'sis', 'grandma']

In [ ]:
myfamily.extend(['bro','sis','bro in law','daughter'])
myfamily

In [ ]:
myfamily.remove('bro')
myfamily

In [ ]:
myfamily.pop(0)
myfamily

In [131]:
myfamily.sort(reverse=True)
myfamily

['sis', 'mom', 'me', 'grandma', 'dad', 'bro', 'Grandfa']

In [132]:
myfamily.append('bro')
myfamily

['sis', 'mom', 'me', 'grandma', 'dad', 'bro', 'Grandfa', 'bro']

In [133]:
my_list = [3,4,15,5.9]
print(my_list)
type(my_list)

[3, 4, 15, 5.9]

list

In [134]:
my_list.sort()
my_list

[3, 4, 5.9, 15]

In [24]:
emptyList = []
emptyList

[]

In [25]:
emptyList = list()
emptyList

[]

In [27]:
emptyList = [1,2,3,4,7]
emptyList

[1, 2, 3, 4, 7]

In [28]:
len(emptyList)

5

In [22]:
## properties: ordered, iterable, mutable, can contain multiple data types       
# create an empty list (two ways) 
empty_list = [] 
empty_list = list() 
# create a list 
simpsons = ['homer', 'marge', 'bart']
# examine a list 
print(simpsons[0])        # print element 0 ('homer’) 
print(len(simpsons))    # returns the length (3)
 # modify a list (does not return the list) 
simpsons.append('lisa') # append element to end 
simpsons.extend(['itchy', 'scratchy'])  # append multiple elements to end 
print(simpsons)

homer
3
['homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [29]:
simpsons.insert(0, 'maggie')  # insert element at index 0 (shifts ˓→everything right) 
print(simpsons)
simpsons.remove('bart')  # searches for first instance and removes it 
print(simpsons)
simpsons.pop(0) # removes element 0 and returns it del
print(simpsons)
simpsons[0] = 'krusty' # replace element 0
print(simpsons)

['maggie', 'homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']
['maggie', 'homer', 'marge', 'lisa', 'itchy', 'scratchy']
['homer', 'marge', 'lisa', 'itchy', 'scratchy']
['krusty', 'marge', 'lisa', 'itchy', 'scratchy']

# Tuples
A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. Creating a tuple is as simple as putting different comma-separated values.

In [30]:
# create a tuple 
digits = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
#recommend way to by using tuple function
digits = tuple([0, 1, 'two'])  # create a tuple from a list 
# examine a tuple 
print(digits[2])  # returns ‘two’ 
print(len(digits)) # returns 3 
print(digits.count(0))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1)

two
3
1

In [ ]:
# create a tuple 
digits1 = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
# examine a tuple 
print(digits1.count(1))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1) 
len(digits1)

In [ ]:
digits[1]= 'one' #returns an assignment error

In [ ]:
my_tuple = (1,3.0,'works')
my_tuple
my_tuple2 = tuple(["this works too",8,10,True])
type(my_tuple2)

# Strings

In [ ]:
# create a string 
s = 'I like you' # examine a string 
s[0] # returns 'I’ 
len(s) # returns 10 
# string slicing like lists
s[:6] # returns 'I like’
s[7:] # returns 'you’
s[-1] # returns 'u'

# Dictionaries
Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

Dictionaries are optimized to retrieve values when the key is known.

In [ ]:
# create an empty dictionary (two ways) 
empty_dict = {} 
empty_dict = dict() 
# create a dictionary (two ways) 
my_pro = {'name':'Ashok', 'job':'Data Scientist', 
          'location':"bangalore", "years_exp":17} 


cust_profile = dict(cust_id = 24,name='Anand', age=30, 
                    job=['programmer','CEO','Data Scientist'],
                    location="bangalore", years_Exp=17) 
cust_profile['job']

In [ ]:
cust = dict( name = 'ashok',job = "DS Trainer", exp = 17)

In [ ]:
cust['job']

In [31]:
mydictionary = {'name':'rakesh', 'city':'bangalore'}
mydictionary

{'name': 'rakesh', 'city': 'bangalore'}

In [32]:
mydictionary['name']

'rakesh'

# Sets
A set contains an unordered collection of unique and immutable objects. The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics. This explains, why sets unlike lists or tuples can't have multiple occurrences of the same element.

In [34]:
# create an empty set
empty_set = set()
# create a set
lang = {'python', 'r', 'java'} # create a set directly 
snakes = set(['cobra', 'viper', 'python','viper']) # create a set from a list 
print(lang)
print(snakes)

{'r', 'python', 'java'}
{'viper', 'cobra', 'python'}

In [36]:
snakes.union(lang)

{'cobra', 'java', 'python', 'r', 'viper'}

In [37]:
snakes.intersection(lang)

{'python'}

In [ ]:
# examine a set 

lang.intersection(snakes)

In [ ]:
languages.union(snakes)

# Functions

In [ ]:
def hello():
    print("Hello Data Science world")

In [ ]:
hello()

In [ ]:
def hello(name):
    print("Hello ",name)

In [ ]:
hello("Ashok")

In [ ]:
def squareit(x=0):
    if(x==0):
        print("please give a number for squaring")
    else:
        return x**2


squareit(3)

In [ ]:
def helloo():
    print('Hi , I am from ABC corp Hello')
    print('function end')

In [ ]:
helloo()

In [ ]:
#weight in kgs, height in cms.
def bmi(weight,height):
     return weight / (height/100)**2

In [ ]:
bmi(70,175)

In [ ]:
mybmi

In [ ]:
def sayhello():
    return print("HELOOOOO")

In [ ]:
bmi(76,179.8)

In [ ]:
sayhello()

In [ ]:
def c2f(deg):
    return deg*(9/5)+32





def bmi(weight,height):
     return weight / (height/100)**2


bmi(78,182)

In [ ]:
ban_temp=c2f(23)
ban_temp

In [ ]:
def iseven(x):
    if x%2==0: 
        print("It is even")
    else:
        print("it is odd")

In [ ]:
iseven(6)

In [ ]:
def iseven(x=''):
    if (x==''):
        return print("please provide arg")
    elif (x%2==0):
        return True
    else:
        return False

In [ ]:
z = iseven(7)

In [ ]:
z

In [ ]:
# define a function with one argument and no return values 
def print_this(x): print(x) 

print_this(2)

# Loops

In [ ]:
# alternative for loop (recommended style)
fruits = ['apple', 'banana', 'kiwi','gauva','cherry','mango'] 

for x in fruits:
    print(x[0:3])

In [ ]:
for x in range(4):
    print("Hello",x)

In [ ]:

for fruit in fruits: 
        if (fruit!='banana'):
            print(fruit)

In [ ]:
a = range(10)

In [ ]:
type(a)

In [ ]:
fruit

In [ ]:
for x in range(55,60):
    print(x,' hello')

In [ ]:
print(range(10))

In [ ]:
now = dt.datetime.now()

In [ ]:
now.replace()