In [1]:
a = 20

In [2]:
print (a)

20

# This is python

# DataTypes

## Data type flow : bool, int, float, str 

bool(0), int('1') , float('1.2') , str('rakesh')

In [3]:
a = True
print(a)
type(a)

True

bool

In [4]:
3.5 + 4

7.5

In [5]:
3 + True

4

In [6]:
3 + int (4.5)

7

In [7]:
3 + 3.5 + True

7.5

In [8]:
0 + True

1

In [9]:
0 + False

0

In [10]:
bool(0) + True

1

In [11]:
bool('a')

True

In [12]:
int(4.5)

4

In [13]:
a = 'I am rakesh chhalotre'
a

'I am rakesh chhalotre'

In [14]:
a[5]

'r'

In [15]:
a[5:11]

'rakesh'

In [16]:
a[-3:]

'tre'

In [17]:
a[5:11:3]

're'

In [18]:
int('3')

3

In [19]:
import datetime as dt

In [20]:
print(dt.date.today())

2018-11-29

In [21]:
print(dt.datetime.now())

2018-11-29 06:20:18.706087

In [22]:
dt.MAXYEAR

9999

In [23]:
print(dt.date.today().month)

11

In [24]:
td = dt.date.today()

In [25]:
babyBDay = dt.date(2015,12,31)

In [26]:
print(td - babyBDay)

1064 days, 0:00:00

In [27]:
td + dt.timedelta(100)

datetime.date(2019, 3, 9)

In [28]:
td + dt.timedelta(days=100)

datetime.date(2019, 3, 9)

## Conditional statement

In [29]:
x=5


if (x%2==0):
    print ("Even Number")
    print("This is If block")
else:
    print ("Old Number")
    print ("This is else block")

Old Number
This is else block

### Data structure -
## List

In [30]:
a = [3,4,6.5,True,'Rakesh']
a

[3, 4, 6.5, True, 'Rakesh']

In [31]:
type(a)

list

In [32]:
a[3]

True

In [33]:
a = [3,4,'Rakesh', [12,13,14], True]
a

[3, 4, 'Rakesh', [12, 13, 14], True]

In [34]:
a[2]

'Rakesh'

In [35]:
a[3]

[12, 13, 14]

In [36]:
a[3][2]

14

In [37]:
family = ['dad','mom','me']
family

['dad', 'mom', 'me']

In [38]:
family.append('wife')
family

['dad', 'mom', 'me', 'wife']

In [39]:
family.extend(['brother','sister'])
family

['dad', 'mom', 'me', 'wife', 'brother', 'sister']

In [40]:
family.remove('brother')
family

['dad', 'mom', 'me', 'wife', 'sister']

In [41]:
family.pop(-1)
family

['dad', 'mom', 'me', 'wife']

### tuple 
# its static and not be change once created

In [42]:
digits = (0,3,5,'one') 
digits

(0, 3, 5, 'one')

In [43]:

digits2 = tuple([0,3,5,'one'])

digits2

(0, 3, 5, 'one')

### functions

In [44]:
#args weight in KG, height in cm
def bmi(weight, height):
    return weight / (height/100) ** 2

In [45]:
bmi(70,170)

24.221453287197235

In [46]:
## loop

city = ['b','v','c','a']
for x in city:
    print(x)

b
v
c
a

In [47]:
import time
for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

## Dictionary

In [53]:
myDictionary = {'name':'Rakesh','name':'Mukesh','city':'Bangalore','age':'20','gender':'male'}
print(myDictionary)
myDictionary['name']

{'name': 'Mukesh', 'city': 'Bangalore', 'age': '20', 'gender': 'male'}

'Mukesh'