In [2]:
import datetime as dt

In [5]:
print(dt.date.today())

2024-02-29

In [17]:
prisha_db = dt.date(2015,12,31)
prisha_db

datetime.date(2015, 12, 31)

In [20]:
today_dt = dt.date.today()

In [21]:
print(today_dt - prisha_db)

1067 days, 0:00:00

In [22]:
dt.date.today()+dt.timedelta(days=100)

datetime.date(2019, 3, 12)

In [28]:
mylist = ['rakesh','rakjita']

In [29]:
print(mylist)

['rakesh', 'rakjita']

In [33]:
mylist.append('Prisha')
mylist

['rakesh', 'rakjita', 'Prisha', 'Prisha']

In [34]:
mylist.extend(['1','2'])

In [35]:
mylist

['rakesh', 'rakjita', 'Prisha', 'Prisha', '1', '2']

In [36]:
mylist.sort()

In [37]:
mylist

['1', '2', 'Prisha', 'Prisha', 'rakesh', 'rakjita']

In [41]:
mylist.count('Prisha')

2

In [45]:
mylist.remove('Prisha')
mylist

['2', 'Prisha', 'rakesh', 'rakjita']

In [56]:
# Tuples -> are mutable
mytuples = {'rakesh', 'rakjita', 'Prisha', 'Prisha', '1', '2'}
mytuples

{'1', '2', 'Prisha', 'rakesh', 'rakjita'}

In [58]:
len(mytuples)

5

In [60]:
mytuples2 = tuple(['tuple', 'rakjita', 'Prisha', 'Prisha', '1', '2'])
mytuples2

('tuple', 'rakjita', 'Prisha', 'Prisha', '1', '2')

In [61]:
mytuples2[1]='test'

TypeError: 'tuple' object does not support item assignment

In [63]:
my_dst ={'name':'rakesh','age':'42','job':'IT'}
my_dst

{'name': 'rakesh', 'age': '42', 'job': 'IT'}

In [65]:
my_dst['job']

'IT'

In [72]:
my_dst2 = dict(name='rakesh', age='42', job='IT')
my_dst2

{'name': 'rakesh', 'age': '42', 'job': 'IT'}

In [73]:
# Set = Collection of unique unmutable objects


my_set = {'me','mom',"dad",'me'}
my_set

{'dad', 'me', 'mom'}

In [75]:
languages = {'java','python','r'} 
snakes = {'cobra','viper','python'}

In [76]:
languages.union(snakes)

{'cobra', 'java', 'python', 'r', 'viper'}

In [77]:
languages.intersection(snakes)

{'python'}