In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn import preprocessing

In [2]:
cars = pd.read_csv('mtcars.csv')

In [3]:
cars.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [4]:
cars.shape

(32, 12)

In [5]:
cars.isnull().sum()

car_model    0
mpg          0
cyl          0
disp         0
hp           0
drat         0
wt           0
qsec         0
vs           0
am           0
gear         0
carb         0
dtype: int64

In [8]:
X = cars.loc[:,['mpg','wt','gear','vs']]
y = cars.loc[:,'am']

# Scale()
### preprocessing.scale(X, axis=0, with_mean=True, with_std=True, copy=True)
### Docstring:
### Standardize a dataset along any axis
#### Center to the mean and component wise scale to unit variance.

In [ ]:
# its importent in K-Nearest Neighbor
# scale() use to nulify the data.

X = preprocessing.scale(X)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=10)

In [10]:
# n_neighbors is K value ( how many neighbors )
model_knn = KNeighborsClassifier(n_neighbors = 1, metric='euclidean')
model_knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [11]:
y_predict = model_knn.predict(X_test)

In [12]:
confusion_matrix(y_test,y_predict)

array([[7, 0],
       [0, 3]], dtype=int64)

In [13]:
print(classification_report(y_test,y_predict))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00         7
          1       1.00      1.00      1.00         3

avg / total       1.00      1.00      1.00        10