In [3]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [4]:
data = pd.read_csv('hp_data.csv')

In [5]:
data.head()

,Unnamed: 0,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
Unnamed: 0    3500 non-null int64
price         3500 non-null int64
place         3500 non-null object
built         3500 non-null object
sqft          3500 non-null int64
sale          3500 non-null object
yearsOld      3500 non-null int64
floor         3500 non-null int64
totalFloor    3500 non-null int64
bhk           3500 non-null int64
dtypes: int64(7), object(3)
memory usage: 273.5+ KB

In [21]:
sqft = [[1000],[1500],[2000]]
price = [50,90,100]

In [22]:
model = LinearRegression()
model.fit(sqft,price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [23]:
model.predict([[2500],[2200]])

array([ 130.,  115.])

In [24]:
model.coef_

array([ 0.05])

In [25]:
model.intercept_

5.0

In [27]:
data.head()

,Unnamed: 0,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [28]:
X = data.loc[:,['sqft','yearsOld','floor','totalFloor','bhk']]
y = data.price

In [29]:
model2 = LinearRegression()

In [30]:
model2.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [33]:
model2.predict([[1500,5,1,10,3]])

array([ 18020353.87978074])

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [36]:
print(X_train.shape)
print(y_train.shape)

(2625, 5)
(2625,)

In [38]:
model3 = LinearRegression()
model3.fit(X_train,y_train)
y_predict = model3.predict(X_test)

In [39]:
from sklearn.metrics import r2_score

In [40]:
r2_score(y_test,y_predict)

0.85322245995569412