/Users/ashok/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [3]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')
data.head()

/Users/ashok/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [4]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
data.buying = enc.fit_transform(data.buying)
data.maint = enc.fit_transform(data.maint)
data.lug_boot = enc.fit_transform(data.lug_boot)
data.safety = enc.fit_transform(data.safety)
data.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      2        2         2       1   unacc
1       3      3      2        2         2       2   unacc
2       3      3      2        2         2       0   unacc
3       3      3      2        2         1       1   unacc
4       3      3      2        2         1       2   unacc

In [14]:
X = data.iloc[:,:-1]
y = data.outcome

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [15]:
print(X_train.shape)
print(X_test.shape)

(1209, 6)
(519, 6)

In [ ]:
parameters = { 'kernel' : 'rbf',
                'C' : [0.1,10,100,500,1000],
                'gamma' : [0.01,0.1,0.5,1,10]
}

In [42]:
from sklearn.svm import SVC
model = SVC(kernel='rbf',C=1000,gamma=0.5)

In [43]:
model.fit(X_train, y_train)

SVC(C=1000, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.5, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [44]:
y_predict = model.predict(X_test)

In [45]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(y_test, y_predict)

0.9980732177263969

In [46]:
pd.crosstab(y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc      101     0      1      0
good       0    21      0      0
unacc      0     0    371      0
vgood      0     0      0     25

In [36]:
from collections import Counter
Counter(y_test)

Counter({'acc': 102, 'good': 21, 'unacc': 371, 'vgood': 25})

In [47]:
!pip install imblearn

Requirement already satisfied: imblearn in /Users/ashok/anaconda3/lib/python3.6/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Users/ashok/anaconda3/lib/python3.6/site-packages (from imblearn) (0.3.3)
Requirement already satisfied: scikit-learn in /Users/ashok/anaconda3/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (0.19.1)
Requirement already satisfied: numpy in /Users/ashok/anaconda3/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (1.12.1)
Requirement already satisfied: scipy in /Users/ashok/anaconda3/lib/python3.6/site-packages (from imbalanced-learn->imblearn) (1.0.0)
You are using pip version 18.0, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [48]:
from imblearn.over_sampling import SMOTE

In [50]:
smote = SMOTE()
X_train_smote, y_train_smote = smote.fit_sample(X_train,y_train)

In [51]:
print(Counter(y_train))
print(Counter(y_train_smote))

Counter({'unacc': 839, 'acc': 282, 'good': 48, 'vgood': 40})
Counter({'acc': 839, 'unacc': 839, 'vgood': 839, 'good': 839})

In [52]:
model = SVC()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
pd.crosstab(y_test, y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       74     2     26      0
good      14     5      0      2
unacc      6     0    365      0
vgood      6     0      0     19

In [53]:
model = SVC()
model.fit(X_train_smote, y_train_smote)
y_predict = model.predict(X_test)
pd.crosstab(y_test, y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       94     8      0      0
good       0    20      0      1
unacc     16     1    354      0
vgood      0     0      0     25