# Linear Regression
1000 sqft flat price is -> 50L -> 5
1500 sqft flat price is -> 120 L -> 8
2000 sqft flat price is -> ? ( 190L ) 

#calculation :
    
ax + b = c

1500 a + b = 120
1000 a + b = 50

then find for the price for 1800 sqft flat

In [4]:
# Two dimention array need here, as always we need axis 2 dimention
sqft = [ [1000],[1200], [1500] ]
price = [50,60,120]

In [2]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

#Training 
model.fit(sqft, price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [5]:
# find the price for 2000 sqft apartment

model.predict([[2000]])

array([187.63157895])

In [6]:
# find the price for 3000 sqft apartment

model.predict([[3000]])

array([332.36842105])

# Example 2

In [12]:
# Two dimention array need here, as always we need axis 2 dimention
# X is sqft, bhk
# Y is price for relared X list

X = [ [1000,2],[1200,2], [1500,3] ]
Y = [50,60,120]

In [13]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

#Training 
model.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [15]:
# find price of 2000 sqft 4 bhk flat
model.predict([[2000,4]])

array([190.])

# Example 3 , reading file to train model

In [18]:
import pandas as pd
data = pd.read_csv('hp_data.csv')
data.head()

,Unnamed: 0,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [60]:
data.corr()

,Unnamed: 0,price,sqft,yearsOld,floor,totalFloor,bhk
Unnamed: 0,1.000000,0.030283,0.001018,-0.022503,0.005641,0.008018,0.005641
price,0.030283,1.000000,0.778364,0.215712,0.263472,0.402256,0.263472
sqft,0.001018,0.778364,1.000000,0.229461,0.356053,0.358946,0.356053
yearsOld,-0.022503,0.215712,0.229461,1.000000,-0.116427,-0.142562,-0.116427
floor,0.005641,0.263472,0.356053,-0.116427,1.000000,0.958100,1.000000
totalFloor,0.008018,0.402256,0.358946,-0.142562,0.958100,1.000000,0.958100
bhk,0.005641,0.263472,0.356053,-0.116427,1.000000,0.958100,1.000000

### X -> columns called as Features, Predictors, Independent variables, Input variables
### Y -> columns called as Target, Lebel, Dependent variables, Output variables

In [25]:
X = data.loc[:, ['sqft','yearsOld','floor','totalFloor','bhk']]
Y = data.price
X.head()

   sqft  yearsOld  floor  totalFloor  bhk
0  1450         5      1           4    1
1  2190         5      3           5    3
2  1019         1      2           5    2
3  1857        15      4           5    4
4  2190         5      3           5    3

In [30]:
# Trained the model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [29]:
# predict answer from trainied model by passing inputs
model.predict([[1500, 3, 5, 10, 3]])

array([14366011.79794233])

# Validate Model
#### -Use 70% data to prepair/train model
#### -Use 30% data to test model

#### Efficiency = Y test - Y_Predict

In [33]:
print(X.shape)
print(Y.shape)

X.head()

(3500, 5)
(3500,)

   sqft  yearsOld  floor  totalFloor  bhk
0  1450         5      1           4    1
1  2190         5      3           5    3
2  1019         1      2           5    2
3  1857        15      4           5    4
4  2190         5      3           5    3

In [38]:
# X_train = X.iloc(0:2500,:)
# X_train = Y.iloc(2501:,:)

In [39]:
# train model

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y)

In [37]:
print('X_train shape: ', X_train.shape)
print('X_test shape: ', X_test.shape)

print('Y_train shape: ', y_train.shape)
print('Y_test shape: ', y_test.shape)

X_train shape:  (2625, 5)
X_test shape:  (875, 5)
Y_train shape:  (2625,)
Y_test shape:  (875,)

In [40]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [41]:
y_predist = model.predict(X_test)

In [46]:
y_predist[0:5]

array([8772075.29949831, 9595676.97240417, 7495529.27615625,
       8772075.29949831, 6381272.59623008])

In [45]:
y_test.head()

1187     7900000
2959    10500000
3023     7350000
1457     7900000
1860     4800000
Name: price, dtype: int64

In [53]:
from sklearn.metrics import r2_score
r2_score(y_test, y_predist)

0.8224101338078422

In [57]:
# coef_ is auto generated 
model.coef_

array([   8571.2052302 ,  144733.10995663, -841529.73073064,
       1908635.37453254, -841529.73073064])

In [59]:
# intercept_ is auto generated
model.intercept_

-11302986.816246593

# y =a1x1 + a2x2 + a3x3 + a4x4 + a5x5 + b